

<div class = "border-bottom" *ngFor = "let dev of dev" >
    <br>
    <p> <span class = "label"> Emprestimo:  </span> 
        <span>{{dev.id}} </span> </p>
    <p> <span class = "label"> Livro:  </span> 
        <span>{{dev.titulo}}</span></p>
    <p> <span class = "label"> Aluno: </span> 
    <span> {{dev.aluno}}</span></p>
    <p> <span class= "label"> Data de devolucao: </span> 
        <span> {{dev.data_de_emprestimo}}</span></p>
    <p> <span class = "label"> Data de devolução: </span> 
        <span> {{dev.data_de_devolucao}} </span></p>
    <br>
<button class = "botao btn-primary" (click) = devolucao(dev.id)>Devolver</button>
<button class = "botao btn-primary" (click) = renovacao(dev.id)>Renovar</button>
<br>
<br>

</div>


