<div class="posicao">
    <div class = "div1">
        <p class="texto1">Seja bem vindo (a)</p>
        <p class='texto2'>Novamente</p>
    </div>
    <div class= 'caixa_login'>
        <form>
            <label >E-mail</label>
            <input type="text" name="email"class = "input">
            <label >Senha</label>
            <input type="password" name="senha"class = "input">
            <br>
            
           
        </form>

        <a class="botao btn btn-primary btn-lg" routerLink ="/usuario" >Entrar </a> 
       
        
        
       
    </div>

</div>





