.menu_lateral{
    
    position:relative;
    padding-top: 90px;
    float: left;
    height: 700px;
    
    width: 25%;
       
    }
   
.conteudo{
    
    position: relative;
    width: 75%;
    height: 650px;
    background: rgb(221, 8, 175);
    float: right;
    }