<!-- Tab panes -->
<div class="tab-content text-center col-md-12">
<div class="tab-pane active" id="registro" role="tabpanel">
<div class="container my-5">
<div class="col-md-4 mx-auto borderSCEL">
<h3 style="color: white">Registrar Empréstimo</h3>
<br/>
<div class="colSCEL col-md-12">
 <form class="form-inline">
<div class="col-4 form-group">
<label class="form-check-label" for="dt_in">PERÍODO</label>
<input type="date" name = "date" id = "date" onchange="var chooseDate=new Date(this.value);
chooseDate.setDate(chooseDate.getUTCDate()+14);
var futureDate=('0'+(chooseDate.getDate())).slice(-2)+'/'+('0'+(chooseDate.getMonth()+1)).slice(-2)+'/'+chooseDate.getFullYear();
alert('Após 14 dias DEVOLUÇÃO em: '+futureDate);" >
</div>
</form>

<form action="#" th:action="@{/emprestimos/save}" th:object="${emprestimo}" method="post">
<label for="isbn" class="col-form-label">ISBN</label>
<input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="isbn">
<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="text-warning"></span>
						
<label for="ra" class="col-form-label">RA</label>
<input type="text" th:field="*{ra}" class="form-control" id="ra" placeholder="RA">
<span th:if="${#fields.hasErrors('ra')}" th:errors="*{ra}" class="text-warning"></span>
<div th:replace="fragments/alert"></div>

<br>
<div class="d-grid gap-2 d-md-flex justify-content-center">
  <button class="btn btn-success me-md-2" type="submit">Emprestar</button>
  <button class="btn btn-danger" type="reset">Limpar</button>
</div>
</form>
</div>
</div>
