
<div class="menu-lateral">
    
    <div>
        <a class="botao btn btn-primary btn-lg" href="usuario/cadastroaluno">Cadastro aluno </a>
    </div>
    <div>
        <a class="botao btn btn-primary btn-lg" href="usuario/cadastro">Cadastro livro </a>
    </div>
    <div>
        <a class="botao btn btn-primary btn-lg" href="usuario/emprestimo">Emprestimos </a>
    </div>
    <div>
        <a class="botao btn btn-primary btn-lg" href="usuario/devolucao">Devoluções </a>
    </div>
    <div>
        <a class="botao btn btn-primary btn-lg"href ="">Voltar</a>
    </div>
    <div>
        <a class="botao btn btn-primary btn-lg">Sair </a>
    </div>


</div>
